#IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input,Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras_preprocessing import sequence
from keras.utils import to_categorical
from keras.models import load_model

#READ THE DATASET

In [2]:
dataframe = pd.read_csv('/content/spam.csv',delimiter=',',encoding='latin-1')

In [3]:
#Display the DataSet
dataframe

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
#Display the head values
dataframe.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [6]:
#Knowing information about dataset
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

# TAKING IMPORTANT COLUMN

In [7]:
dataframe.drop(['Unnamed: 2','Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [8]:
dataframe.groupby(['v1']).size()

v1
ham     4825
spam     747
dtype: int64

In [9]:
# Convert shape
X = dataframe.v2
Y = dataframe.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

#TEST AND TRAIN

In [10]:
# Test and train spilit 
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [11]:
# Tokenisation function
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

#CREATING A MODEL

In [12]:
#creating LSTM model
inputs = Input(name='InputLayer',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FullyConnectedLayer1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='OutputLayer')(layer)
layer = Activation('sigmoid')(layer)

In [13]:
#model
model = Model(inputs=inputs,outputs=layer)
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 InputLayer (InputLayer)     [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FullyConnectedLayer1 (Dense  (None, 256)              16640
 )

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 OutputLayer (Dense)         (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=15,validation_split=0.2)

Epoch 1/15
30/30 [==============================] - 12s 294ms/step - loss: 0.3134 - accuracy: 0.8862 - val_loss: 0.1741 - val_accuracy: 0.9789
Epoch 2/15
30/30 [==============================] - 10s 320ms/step - loss: 0.0752 - accuracy: 0.9799 - val_loss: 0.0676 - val_accuracy: 0.9821
Epoch 3/15
30/30 [==============================] - 13s 445ms/step - loss: 0.0395 - accuracy: 0.9886 - val_loss: 0.0604 - val_accuracy: 0.9852
Epoch 4/15
30/30 [==============================] - 13s 420ms/step - loss: 0.0267 - accuracy: 0.9921 - val_loss: 0.0631 - val_accuracy: 0.9895
Epoch 5/15
30/30 [==============================] - 9s 296ms/step - loss: 0.0240 - accuracy: 0.9910 - val_loss: 0.0524 - val_accuracy: 0.9884
Epoch 6/15
30/30 [==============================] - 8s 268ms/step - loss: 0.0181 - accuracy: 0.9947 - val_loss: 0.0534 - val_accuracy: 0.9905
Epoch 7/15
30/30 [==============================] - 8s 266ms/step - loss: 0.0125 - accuracy: 0.9955 - val_loss: 0.0600 - val_accuracy: 0.9895
Epoch 8/15
30/30 [==============================] - 9s 317ms/step - loss: 0.0097 - accuracy: 0.9971 - val_loss: 0.0525 - val_accuracy: 0.9895
Epoch 9/15
30/30 [==============================] - 8s 267ms/step - loss: 0.0078 - accuracy: 0.9971 - val_loss: 0.0697 - val_accuracy: 0.9895
Epoch 10/15
30/30 [==============================] - 8s 270ms/step - loss: 0.0068 - accuracy: 0.9979 - val_loss: 0.0646 - val_accuracy: 0.9895
Epoch 11/15
30/30 [==============================] - 8s 272ms/step - loss: 0.0046 - accuracy: 0.9984 - val_loss: 0.0703 - val_accuracy: 0.9831
Epoch 12/15
30/30 [==============================] - 8s 269ms/step - loss: 0.0044 - accuracy: 0.9989 - val_loss: 0.0943 - val_accuracy: 0.9884
Epoch 13/15
30/30 [==============================] - 8s 266ms/step - loss: 0.0044 - accuracy: 0.9987 - val_loss: 0.0793 - val_accuracy: 0.9842
Epoch 14/15
30/30 [==============================] - 9s 293ms/step - loss: 0.0031 - accuracy: 0.9984 - val_loss: 0.0860 - val_accuracy: 0.9852
Epoch 15/15
30/30 [==============================] - 9s 306ms/step - loss: 0.0028 - accuracy: 0.9992 - val_loss: 0.1244 - val_accuracy: 0.9873

#CHECKING ACCURACY

In [15]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix =sequence.pad_sequences(test_sequences,maxlen=max_len)
accuracy = model.evaluate(test_sequences_matrix,Y_test)
print('Accuracy: {:0.3f}'.format(accuracy[1]))

27/27 [==============================] - 1s 24ms/step - loss: 0.2046 - accuracy: 0.9809
Accuracy: 0.981

#SAVE THE MODEL

In [16]:
model.save("LSTM1")

WARNING:absl:Function `_wrapped_model` contains input name(s) InputLayer with unsupported characters which will be renamed to inputlayer in the SavedModel.
WARNING:absl:Found untraced functions such as lstm_cell_layer_call_fn, lstm_cell_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.